<mat-card>
    <mat-card-title>
        Available Pizza Toppings
    </mat-card-title>  
    <mat-card-content>
        <div
            *ngFor="let pt of pizzaToppings"
        >
            <label>
                <mat-checkbox
                    [(ngModel)]="pt.checked"
                >                    
                </mat-checkbox>
                {{ pt.name }} ({{ pt.price | currency}})
            </label>
        </div>
        <br>
        <br>
        <button
            *ngIf='false'
            mat-flat-button
            color='primary'
        >
            Checkout
        </button>
        <h4>
            {{ total | currency }}
        </h4>
    </mat-card-content>  
</mat-card>
