<mat-card>
    <mat-card-title>Available Pizza Toppings</mat-card-title>
    <mat-card-content>
        <button
            mat-raised-button color="primary"
            (click)="checkAll()"
        >
            All
        </button>
        &nbsp;
        <button
            mat-raised-button color="accent"
            (click)="uncheckAll()"
        >
            None
        </button>
        <br>
        <br>
        <div
            *ngFor="let pt of pizzaToppings"
        >
            <mat-checkbox
            [(ngModel)]="pt.checked"
            >
                
                {{ pt.name }} ({{ pt.price | currency}})
            </mat-checkbox>
            
        </div>
        <h4>
            Total: {{ total | currency }}
        </h4>
    </mat-card-content>
</mat-card>

