<mat-card>
    <mat-card-title>
        Available Pizza Toppings
    </mat-card-title>  
    <mat-card-content>
        <div
            *ngFor="let pt of pizzaToppings"
        >
            <input 
                type="checkbox"
                [(ngModel)]="pt.checked"
            >
            {{ pt.name }} ({{ pt.price | currency}})
        </div>
        <br>
        <br>
        <button
            (click)="checkout()"
        >
            Checkout
        </button>
        <h4>
            {{ total | currency }}
        </h4>
    </mat-card-content>  
</mat-card>
