<mat-card>
    <mat-card-title>
        When will Tyler finish his assignments?
    </mat-card-title>
    <mat-card-content>
        <button
            mat-raised-button
            color="primary"
            (click)="generateDate()"
        >
            Generate
        </button>
        <button
            mat-raised-button
            color="warn"
            (click)="getRealAnswer()"
        >
            Get the Real Answer
        </button>
        <p>
            {{date}}
        </p>
    </mat-card-content>
</mat-card>