<mat-card>
    <mat-card-title>
        Val's &deg;Celsius to &deg;Farenheit
    </mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>&deg;Celsius</mat-label>
            <input 
                matInput
                type="number"
                [(ngModel)]="celsius"
            >
        </mat-form-field>
        &nbsp;
    
        <button
            mat-mini-fab
            color="accent"
            (click)="convert()"
        >
            =
        </button>
        &nbsp;
        {{ answer }}&deg;F

          
    </mat-card-content>
</mat-card>