<mat-card>
    <mat-card-title>Pick who wins $1,000,000!! (Or whatever we want)</mat-card-title>
    <mat-card-content>
        <button
            mat-raised-button
            color="accent"
            (click)="pickRandomWinner()"
        >
            Pick a winner
        </button>
        <button
            mat-raised-button
            color="primary"
            (click)="clear()"
        >
            Clear
        </button>
    </mat-card-content>
    <mat-card-title id="winner"></mat-card-title>
</mat-card>
